@using System.Globalization
@model IEnumerable<Producto>

<h2>Listado de Productos</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Costo</th>
            <th>Precio</th>
            <th>Stock Disponible</th>
            <th>Empresa</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var producto in Model)
        {
            <tr>
                <td>@producto.Nombre</td>
                <td>@producto.Descripcion</td>
                <td>AR$ @producto.Costo.ToString("N2", new CultureInfo("es-AR"))</td>
                <td>AR$ @producto.Precio.ToString("N2", new CultureInfo("es-AR"))</td>
                <td>@producto.StockDisponible</td>
                <td>@producto.Empresa?.Nombre</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@producto.Id" class="btn btn-primary">Editar</a>
                    <a asp-action="Delete" asp-route-id="@producto.Id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-success">Nuevo Producto</a>
