@using System.Globalization
@model IEnumerable<Servicio>

<h2>Listado de Servicios</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio Base</th>
            <th>Duración Estimada</th>           
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var servicio in Model)
        {
            <tr>
                <td>@servicio.Nombre</td>
                <td>@servicio.Descripcion</td>
                <td class="text-end">AR$ @servicio.PrecioBase.ToString("N2", new CultureInfo("es-AR"))</td>
                <td class="text-end">@servicio.DuracionEstimada minutos</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@servicio.Id" class="text-primary me-2" title="Editar">
    <i class="bi bi-pencil"></i>
</a>
<a asp-action="Delete" asp-route-id="@servicio.Id" class="text-danger" title="Eliminar">
    <i class="bi bi-trash"></i>
</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-success">Nuevo Servicio</a>
