@using System.Globalization
@model IEnumerable<Insumo>

<h2>Listado de Insumos</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Unidad de Medida</th>
            <th>Costo Unitario</th>
            <th>Stock Disponible</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var insumo in Model)
        {
            <tr>
                <td>@insumo.Nombre</td>
                <td>@insumo.UnidadDeMedida.Nombre</td>
                <td class="text-end">AR$ @insumo.CostoUnitario.ToString("N2", new CultureInfo("es-AR"))</td>
                <td class="text-end">@insumo.StockDisponible</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@insumo.Id" class="text-primary me-2" title="Editar">
                        <i class="bi bi-pencil"></i> <!-- Ícono de lápiz -->
                    </a>
                    <a asp-action="Delete" asp-route-id="@insumo.Id" class="text-danger" title="Eliminar">
                        <i class="bi bi-trash"></i> <!-- Ícono de basura -->
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-success">Nuevo Insumo</a>
