@model IEnumerable<PeluqueriApp.Models.Cita>

<h2>Agenda de Citas</h2>

<form method="get" asp-action="Agenda">
    <div class="form-group">
        <label for="IdCliente">Cliente</label>
        <select name="IdCliente" class="form-control" asp-items="ViewBag.Clientes"></select>
    </div>
    <div class="form-group">
        <label for="IdEmpleado">Empleado</label>
        <select name="IdEmpleado" class="form-control" asp-items="ViewBag.Empleados"></select>
    </div>
    @*<div class="form-group">
        <label for="IdEmpresa">Empresa</label>
        <select name="IdEmpresa" class="form-control" asp-items="ViewBag.Empresas"></select>
    </div>*@
    <button type="submit" class="btn btn-primary">Filtrar</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Empleado</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cita in Model)
        {
            <tr>
                <td>@cita.Cliente.Nombre @cita.Cliente.Apellido</td>
                <td>@cita.Empleado.Nombre @cita.Empleado.Apellido</td>
                <td>@cita.Fecha.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@cita.EstadoCita.Descripcion</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@cita.Id" class="btn btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@cita.Id" class="btn btn-danger">Eliminar</a>
                    <a asp-controller="MercadoPago" asp-action="CreatePayment" asp-route-id="@cita.Id" class="btn btn-primary">Pagar con Mercado Pago</a>

                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-success">Nueva Cita</a>